@model GroupC02_SMSC.Models.AddClass
@{
    Layout = "~/Views/Shared/_AccountantLayout.cshtml";
}
<div class="container">
    <br />
    @if (TempData["ClassMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["ClassMessage"] <a class="btn btn-success" href="/AddClass/ClassList">See Class List</a></p>
    }
    <form asp-controller="AddClass" asp-action="Add" method="post">
        @Html.AntiForgeryToken()
        <div class="col-xs-offset-0 col-xs-4">
            <h3><span class="label label-info">Provide Following Details</span></h3>

            
            <div class="form-group">
                <label asp-for="ClassName">Class Name</label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            
            <div class="form-group">

                <input type="submit" id="btnBookingEvent" class="btn btn-success" value="Submit" />

            </div>
        </div>
    </form>

</div>